[Desktop Entry]
Version=1.0
Type=Application
Name=Toshiba Laptop
Name[de]=Toshiba Notebook
Name[es]=Portátil Toshiba
Name[fr]=Portables Toshiba
Name[hu]=Toshiba Laptopokhoz
Comment=Configure the KDE Interface to the Toshiba System Management Mode Driver
Comment[de]=KDE Schnittstelle zum 'Toshiba System Management Mode Driver' Treiber einstellen
Comment[es]=Configurar el interfaz de KDE para el sistema de operaciones de tipo de Toshiba
Comment[fr]=Configurer l'interface KDE du pilote de gestion du système Toshiba
Keywords=Toshiba, Fn
Keywords[de]=Toshiba, Fn
Keywords[es]=Toshiba, Fn
Keywords[fr]=Toshiba, Fn
Keywords[hu]=Toshiba, Fn
Exec=kcmshell ktoshibam
Icon=laptop.png
X-KDE-Library=ktoshibam
X-KDE-ParentApp=kcontrol
Categories=Qt;KDE;X-KDE-settings-system
