[Desktop Entry]
Exec=kcmshell5 kcm_ktoshibam
Icon=ktoshiba
Type=Service
Categories=Qt;KDE;X-KDE-settings-hardware;
OnlyShowIn=KDE;

X-KDE-ServiceTypes=KCModule
X-KDE-ParentApp=kcontrol
X-KDE-System-Settings-Parent-Category=hardware
X-KDE-Library=kcm_ktoshibam
X-DocPath=kcontrol/kcm_ktoshibam/index.html

Name=KToshiba System Settings
Name[es]=Preferencias del Sistema de KToshiba

Comment=Configures Toshiba laptop related hardware settings
Comment[es]=Configura el hardware relacionado con el portátil Toshiba

X-KDE-Keywords=Toshiba,KToshiba,Hardware
X-KDE-Keywords[es]=Toshiba,KToshiba,Hardware
