<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
 
  <action id="net.sourceforge.ktoshiba.ktoshhelper.screenbrightness">
    <description>Sets screen brightness to desired level</description>
    <message>Prevents from setting the screen brightness</message>
    <defaults>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
 
  <action id="net.sourceforge.ktoshiba.ktoshhelper.toggletouchpad">
    <description>Toggles the TouchPad state</description>
    <message>Prevents from toggling the TouchPad</message>
    <defaults>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
 
  <action id="net.sourceforge.ktoshiba.ktoshhelper.illumination">
    <description>Toggles the Illumination leds</description>
    <message>Prevents from toggling the Illumination leds</message>
    <defaults>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
 
  <action id="net.sourceforge.ktoshiba.ktoshhelper.eco">
    <description>Toggles the ECO led</description>
    <message>Prevents from toggling the ECO led</message>
    <defaults>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
 
  <action id="net.sourceforge.ktoshiba.ktoshhelper.kbdtimeout">
    <description>Set the desired KBD backlight timeout</description>
    <message>Prevents from setting the KBD backlight timeout</message>
    <defaults>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
 
  <action id="net.sourceforge.ktoshiba.ktoshhelper.kbdmode">
    <description>Changes the KBD backlight mode</description>
    <message>Prevents from setting the KBD backlight mode</message>
    <defaults>
      <allow_inactive>yes</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>

</policyconfig>