[Desktop Entry]
Version=1.0
Type=Application
Name=KToshiba
Name[de]=KToshiba
Name[es]=KToshiba
Name[fr]=KToshiba
Name[hu]=KToshiba
Name[xx]=xxKToshibaxx
Comment=Fn-Key monitoring for Toshiba laptops
Comment[de]=Fn-Schlüssel und Batterie, die Toshiba Notebook überwacht
Comment[es]=Monitoreo de tecla Fn para Toshiba portables
Comment[fr]=Gestion de la batterie et des touches spéciales des portables Toshiba
Comment[hu]=Funkcióbillentyű & Akkumlátor monitorozás Toshiba laptopokhoz
Comment[xx]=xxFn-Key monitoring for Toshiba laptopsxx
Exec=ktoshiba
Icon=ktoshiba.png
X-DCOP-ServiceType=Unique
X-KDE-autostart-after=panel
X-KDE-autostart-condition=ktoshibarc:KToshiba:AutoStart:true
X-KDE-autostart-phase=2
Categories=Qt;KDE;Utility;Monitor;TrayIcon;X-KDE-Utilities-Desktop;
