[Desktop Entry]
Version=1.0
Name=KToshiba
Name[de]=KToshiba
Name[es]=KToshiba
Name[fr]=KToshiba
Name[hu]=KToshiba
Name[it]=KToshiba
Name[xx]=xxKToshibaxx
GenericName=Key Monitor
GenericName[es]=Monitor de Teclas
GenericName[xx]=xxKey Monitorxx
Comment=Fn-Key monitoring for Toshiba laptops
Comment[de]=Fn-Schlüssel die Toshiba Notebook überwacht
Comment[es]=Monitoreo de tecla Fn para Toshiba portables
Comment[fr]=Gestion des touches spéciales des portables Toshiba
Comment[hu]=Funkcióbillentyű & Akkumlátor monitorozás Toshiba laptopokhoz
Comment[it]=Monitor per i Portatili Toshiba dei Tasti Funzione
Comment[xx]=xxFn-Key monitoring for Toshiba laptopsxx
Exec=ktoshiba
Icon=ktoshiba
Type=Application
Terminal=false
OnlyShowIn=KDE;
X-KDE-StartupNotify=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=net.sourceforge.KToshiba
Categories=Qt;KDE;Utility;Monitor;TrayIcon;X-KDE-Utilities-Desktop;
